---
layout: default
title: Home
---

<!-- STATIC (mostly) CONTENT -->
<article>
  <!-- ARTICLE HEADER -->
  <header>
      <h2>Jackson Couse is an artist from Ottawa, Canada.</h2>
      <!--<figure>
        <img src="/public/images/jackson-couse.jpg" alt="Portrait of Jackson couse">
        <figcaption>Here I am, standing beside the highway somewhere in Virginia.</figcaption>
      </figure>
      <p>I make things that tell stories: pictures, books, videos, and, sometimes, performances. Usually, the I make are about looking at community, family, place, and belonging.</p>
      <p>I'm also an editor and an educator.</p>-->
  </header>
<!-- PROJECTS (initiated by me) -->
  <section>
    <h3>Projects</h3>
    <nav class="item-list">
      <ul>
        <li>
          <h4><a href="">Sociological Walk</a></h4>
          <p>The <em>Sociological Walk</em> was a performance, intervention, and investigation exploring community life in the Somerset West neighborhood in Ottawa, Canada, where I grew up.</p>
        </li>
        <li>
          <h4><a href="">Queen's Diner</a></h4>
          <p>For a couple of years I lived in Queens, New York, and around the corner from my house was Hugue and Sara's diner: Magazine Wells. Hugue was from Quebec, Sara from Queens.</p>
        </li>
        <li>
          <h4><a href="">Home Ice</a></h4>
          <p>I was living in New York and feeling pretty homesick, so I started going to hockey games. <em>Home Ice</em> was made at Aviator Arena in Brooklyn, New York, during home games of the New York Aviators, a semi-pro hockey team.</p>
        </li>
        <li>  
          <h4><a href="">Playing House</a></h4>
          <p>Fait Maison (French for "home made") was an art collective and performance series that took place in a house in Gatineau, Quebec. I photographed their performances for three years.</p>
        </li>
      </ul>
    </nav>
    <p>For a complete listing of projects, see the <a href="/project-archive">Project Archive</a>.</p>
    </section>
  <!-- WORKSHOPS -->
  <section>
  <h3>Teaching and Workshops</h3>
    <nav class="item-list">
      <ul>
        <li>
          <h4>Photographing Artwork</h4>
          <p>How to photograph art.</p>
        </li>
        <li>
          <h4>Digital Assignment Photography</h4>
          <p>how to do an assignment.</p>
        </li>
      </ul>
    </nav>  
    <p>For a complete listing of workshops and classes, see the <a href="/workshops">Workshop Listings</a>. For online courses and tutorials, see <a href="http://photography.tutsplus.com">Tuts+ Photography</a>.</p>
  </section>
</article>

<!-- DYNAMIC CONTENT -->

<div class="posts">
  <h2>News</h2>
  {% for post in paginator.posts %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

