---
layout: default
title: Home
---

<!-- STATIC (mostly) CONTENT -->
<article>
  <section>
    <h2>Projects</h2>
    <nav class="item-list">
      <ul>
        <li>
          <h3><a href="">Sociological Walk</a></h3>
          <p>A public performance, social intervention, and group investigation exploring life in the Somerset-West/Chinatown neighborhood in Ottawa, Canada, where I grew up.</p>
        </li>
        <li>
          <h3><a href="">Queen's Diner</a></h3>
          <p>For a couple of years I lived in Queens, New York, and around the corner from my house was Hugue and Sara's diner: Magazine Wells. Hugue was from Quebec, Sara from Queens.</p>
        </li>
        <li>
          <h3><a href="">Home Ice</a></h3>
          <p>I was living in New York and feeling pretty homesick, so I started going to hockey games. <em>Home Ice</em> was made at Aviator Arena in Brooklyn, New York, during home games of the New York Aviators, a semi-pro hockey team.</p>
        </li>
        <li>  
          <h3><a href="">Playing House</a></h3>
          <p>Fait Maison (French for "home made") was an art collective and performance series that took place in a house in Gatineau, Quebec. I photographed their performances for three years.</p>
        </li>
      </ul>
    </nav>
    <p>For a complete listing of projects, see the <a href="/project-archive">Project Archive</a>.</p>
    </section>
  <!-- WORKSHOPS -->
  <section>
  <h2>Teaching and Workshops</h2>
    <nav class="item-list">
      <ul>
        <li>
          <h3><a href="/workshops/#photographing-artwork">Photographing Artwork</a></h3>
          <p>August 6,13, 20, and 27, 2014, from 7pm to 9pm, at the Studio Cafe in Ottawa.</p>
        </li>
        <li>
          <h3><a href="/workshops/#photobook">The Photobook</a></h3>
          <p>Tueday nights, September to December, at Glebe Collegiate Institute in Ottawa.</p>
        </li>
      </ul>
    </nav>  
    <p>For complete details, see <a href="/workshops">upcoming classes and workshops</a>. For online courses and tutorials, see <a href="http://photography.tutsplus.com">Tuts+ Photography</a>.</p>
  </section>
</article>

<!-- DYNAMIC CONTENT -->

<div class="posts">
  <h2>News</h2>
  {% for post in paginator.posts %}
  <div class="post">
    <article>
      <h3 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h3>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

