---
layout: default
title: Home
---

<!-- STATIC (mostly) CONTENT -->

  <article>
<!-- ARTICLE HEADER -->
    <header>
      <!-- Lead  -->
        <p>Hi! I'm Jackson Couse, an artist from Canada. I live in Gatineau, Quebec (just across the river from Ottawa, Ontario).</p>
        <p>I make socially-engaged art: I interact with people to tell stories and make things. I work close to home, in my neighborhood, and on the street. Sometimes I work with strangers and sometimes with people I know. Making pictures, books, and videos is a way good to know people and the world. I like thinking and talking about things like identity, community, family, place, and performance.</p>
        <p>When I'm not making art projects, I run a small press devoted to publishing projects from the social landscape.</p> 
        <p>I also teach workshops - with lots of interaction and participation - in photography and film-making.</p>
        <p>If you'd like more information about me, I have a longer, more formal, third-person autobiography and an artist statement. Otherwise, please read on below for my projects and activities.</p>
<!--        // TODO add name of press and link
        // TODO add biography page (with nice print styles)
        // TODO add artist statement (with nice print styles) -->
    </header>
<!-- PROJECTS (initiated by me) -->
    <article id="projects">
      <header>
        <h2>Projects</h2>
        <p>I work in projects. Usually I have a few on the go at once, each taking several months to several years to complete.</p>
      </header>
      <section>
        <h3>Selected Projects</h3>
        <ul>
          <li>
            <h3><a href="">Sociological Walk</a></h3>
            <p>The <em>Sociological Walk</em> was a performance, intervention, and investigation exploring community life in the Somerset West neighborhood in Ottawa, Canada, where I grew up.</p>
          </li>
          <li>
            <h3><a href="">Queen's Diner</a></h3>
            <p>For a couple of years I lived in Queens, New York, and around the corner from my house was Hugue and Sara's diner: Magazine Wells. Hugue was from Quebec, Sara from Queens. The diner was the best of both worlds, and my second home (and a lot of other people's, too).</p>
          </li>
          <li>
            <h3><a href="">Home Ice</a></h3>
            <p>I was living in New York and feeling pretty homesick, so I started going to hockey games. <em>Home Ice</em> was made at Aviator Arena in Brooklyn, New York, during home games of the New York Aviators, a semi-pro hockey team.</p>
          </li>
          <li>  
            <h3><a href="">Playing House</a></h3>
            <p>My first long-term project. Fait Maison (French for "home made") was an art collective and performance series that took place in a house in Gatineau, Quebec. I photographed their performances for three years.</p>
          </li>
        </ul>
      </section>
      <section>
        <h3>Other Projects</h3>
        <p>Other projects are in the <a href="">archives</a>.</p>
      </section>
    </article>
<!-- WORKSHOPS (pedagogy is important to my practice) -->
    <article id="workshops">
      <h2>Workshops</h2>
      <p>a little bit about workshops</p>
      <section>
        <h3>Upcoming</h3>
        <ul>
          <li>
            <h4>Photographing Artwork</h4>
            <p></p>
          </li>
          <li>
            <h4>Digital Assignment Photography</h4>
            <p>how to do an assignment!</p>
            </li>
        </ul>
      </section>
      <section>
        <h3>Past</h3>
        <ul>
          <li>
            <h4>Introduction to Film-making for Photographers</h4>
            <p>so you have an HDSLR, now what?</p>
          </li>
          <li>
            <h4>Introduction to Multimedia for Photojournalists</h4>
            <p>2012. Workshop. International Center of Photography (teaching assistant to Miki Meek).</p>
          </li>
          <li>
            <h4>Documentary Photography and Photojournalism Seminar</h4>
            <p>2011-2012. Weekly class, three semesters, professional program. International Center of Photography (teaching assistant to Alison Morley).</p>
          </li>
        </ul>
<!--  // TODO make website for workshops (with frozen-flask) -->
      </section>
    </article>
<!-- CURRICULUM VITAE -->
<!--  // TODO move dates to begining of li, in a span with class=date (HTML5 date object?)  -->
    <article id="cv">
      <header>
        <h2>Curriculum Vitae</h2>
        <p>I've had some pretty cool experiences in my life! These are the highlights. I also have a my nicely formatted, downloadable, printable, full curriculum vitae if that's your kind of thing.</p>
<!--  // TODO create and link to full CV -->
      </header>
      <!-- Exhibitions -->
      <section>
        <h3>Selected Exhibitions</h3>
        <ul>
<!--  // TODO add french exhibition -->
          <li><em>Open Viewing</em>, Review Santa Fe, CENTER. Santa Fe, NM. 2012.</li>
          <li><a href="/news/capture-release-icp/" title="ICP Full-time programs exhibition 2011"><em>Capture and Release</em></a>, International Center of Photography. Curated by Marina Berio and Alison Morley. New York, NY. 2011</li>
          <li><a href="http://www.daimon.qc.ca/communiques/jackson2/" title="Relocation press relaes from Daimon"><em>Relocation</em></a>, solo exhibition, Le Centre de Production DA&#207;M&#213;N. Curated by Marie-H&#233;l&#232;ne Leblanc. Gatineau, Canada. 2010</li>
          <li><em>Bodies in Trouble</em>, <a href="http://www.galeriesawgallery.com/sawgallery.html" title="SAW Gallery">Galerie SAW Gallery</a>. Curated by Stephan St-Laurent. Ottawa, Canada. 2010</li>
          <li><em>Heart + Soul</em>, Patrick Gordon gallery. Curated by Justin Wonnacott. Ottawa, Canada. 2010</li>
          <li><a href="http://jacksoncouse.com/beingthere/2010/04/growing-up-in-chinatown-walking-tour/" title="Jane's Walk presentation by Jackson Couse"><em>Chinatown</em></a>, Jane's Walk festival. Ottawa, Canada. May 2, 2010</li>
          <li><em>Humanitarianism through Art</em>, La Petite Mort Gallery, Ottawa, Canada. 2009</li>
          <li><em>Enriched Bread Artists</em>, Enriched Bread Studios, Ottawa, Canada. 2008</li>
          <li><em>HERE</em>, Carleton University Art Gallery, Ottawa, Canada. 2008</li>
        </ul>
      </section>
      <!-- Commissions (projects I worked on for other people) -->
      <section>
        <h3>Commisions</h3>
        <ul>
          <li><em>Cultural Engineering</em>, commisioned by SAW Video. 2015</li>
          <li><em>The Class of 9/11</em>,commisioned by Jaques Menasche for the DART Society and PBS. 2012</li>
          <li><em>The World from My Front Porch</em>, commisioned by Larry Towell. 2007</li>
        </ul>
      </section>
<!--      // TODO [x] add commisions section -->
      <!-- Publications of work by me -->
      <section>
        <h3>Publications</h3>
        <ul>
          <li>things I have published</li>
        </ul>
      </section>
      <!-- Bibiliography of things published by others about work I have done-->
      <section>
        <h3>Bibliography</h3>
<!--  // TODO add diner publications
  // TODO add 9/11 broadcast -->
        <ul>
          <li>"<a href="http://www.visitcenter.org/index.php/reviews/photographers_listing/review_santa_fe_2012" title="Review Santa Fe photographers listing">Review Santa Fe 100</a>" exhibition catalogue, CENTER, Santa Fe, New Mexico. 2012.</li>
          <li>Morley, Alison and Marina Bario, eds. "Shift" vol. 6, International Center of Photography, New York. 2011.</li> 
          <li>St-Laurent, Stefan. "Bodies in Trouble" exhibition catalogue. Galerie SAW Gallery, Ottawa, Canada. 2010.</li>
          <li>Towell, Larry. "<a href="http://www.photoeye.com/bookstore/citation.cfm?catalog=ZD301">The World from My Front Porch</a>" Chris Boot, London, 2008. </li>
        </ul>
      </section>
      <section>
        <h3>Press</h3>
        <ul>
          <li>Mikulinsky, Alma. "<a href="http://www.blackflash.ca/282" title="Blackflash Issue 28.s">Photographing Performance Art</a>," Blackflash (cover story). Issue 28.2. January, 2011.</li>
          <li>Payne, Carol. "Bodies in Trouble," Ciel Variable. no. 87. January. 2011.</li>
          <li>Goodden, Sky. "Bodies in Trouble &amp; Time3: Performing the Capital," Canadian Art. September 9, 2010.</li>
          <li>Fejzic, Sanita. "New SAW show a blur of contradictions," Geurilla Magazine. July 19, 2010.</li>     
        </ul>
      </section>
      <section>
        <h3>Awards and Residencies</h3>
        <ul>
  // TODO add french award
  // TODO add residencies for flights
          <li>Review Santa Fe, CENTER. Santa Fe, NM. 2012</li>
          <li>Exhibition Assistance Grant, Ontario Arts Council. 2011</li>
          <li>Production residency, Le Centre de Production DA&#207;M&#213;N. Gatineau, Canada. 2010</li>
          <li>Exhibition Assistance Grant, Ontario Arts Council. 2010</li>
        </ul>
      </section>
    </article>

<!-- DYNAMIC CONTENT -->

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

