<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <article class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
        </h1>
        <h2 class="tagline"><small>{{ site.tagline }}</small></h2>
      </header>
      <nav id="pages">
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/cv">CV</a></li>
        </ul>
      </nav>

      {{ content }}

      <footer class="footer">
        <p><small>&copy; {{ site.title }} {{ site.time | date: '%Y' }}. All rights reserved.</small></p>
      </footer>
    </article>

  </body>
</html>
