<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
        </h1>
        <h2 class="tagline"><small>{{ site.tagline }}</small></h2>
      </header>
      <nav id="pages">
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

      {{ content }}

      <footer class="footer" itemscope itemtype="http://schema.org/Person">
        <p><small>Elsewhere: <a href="http://tutsplus.com/authors/jackson-couse" rel="author" rel="external">Tuts+</a>, <a rel="author" rel="external" href="http://twitter.com/jacksoncouse">Twitter</a>, <a href="https://github.com/jacksoncouse" rel="author" rel="external">Github</a> and <a rel="author" href="mailto:jackson@couse.ca" itemprop="email">jackson@couse.ca</a></small></p>
        <p><small>Copyright &copy; 2003-{{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}" title="Home" itemprop="url"><span itemprop="name">{{ site.title }}</span></a>.</small></p>
      </footer>
    </div>

  <script src="/public/js/ragadjust.js" type="text/javascript"></script>
  <script type="text/javascript">

    ragadjust('p, li, dd', 'all');

  </script>
  
  </body>
</html>
